.title {
    text-transform: uppercase;
    display: inline-block;
    background: var(--linear-color);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 12px;
}

.subtitle {
    font-weight: 600;
    font-size: 48px;
    line-height: 121%;
    margin-bottom: 12px;
}
.video__hover{
    background: #21232e;
    transition: var(--transition);
    width: 196px;
    height: 127px;
    transition: var(--transition);
}
.video__hover:hover{
    box-shadow: 0 0 10px 5px #611891;
}

section{
    margin-bottom: 150px;
}