.footer {
    width: 1440px;
    height: 508px;
    margin: 0 auto;
}

.footer__body {
}
.footer__body-inner {
    width: 100%;
    padding-bottom: 33px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 136px;
    border-bottom: 1px solid;
    border-image-source: var(--linear-color);
    border-image-slice: 1;
}
.footer__container {
    position: relative;
}
.footer__container::before {
    content: url("../img/bg-footer.png");
    z-index: -5;
    position: absolute;
    bottom: -1rem;
    left: -11rem;
}
.footer__logo {
    width: 101px;
    padding-bottom: 168px;
    display: block;
}
.footer__logo img {
    width: 100%;
}
.footer__inner-messenger {
}
.messenger__list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.messenger__link {
    display: block;
    width: 46px;
    height: 46px;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/icon/socials/BG.svg");
}
.messenger__link img{
    transition: var(--transition);
    
}
.messenger__link img:hover{
    transform: scale(1.1);
}


.footer__body-quicklinks,
.footer__body-support {
    display: flex;
}
.quicklinks__list,
.support__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.quicklinks__title,
.support__title,
.address__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 16px;
}
.quicklinks__item,
.support__item {
    margin-bottom: 16px;
}
.quicklinks__item:last-child,
.support__item:last-child {
    margin-bottom: 0;
}
.quicklinks__link,
.support__link {
    font-weight: 300;
    font-size: 16px;
    line-height: 175%;
    color: var(--color-text-grey-2);
    transition: var(--transition);
}
.quicklinks__link:hover,
.support__link:hover {
    color: var(--general-white);
}

.footer__body-address {
    display: flex;
}
.address__list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
}
.address__item {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.address__item p,
.address__item a{
    transition: var(--transition);
}

.address__item p:hover,
.address__item a:hover{
    color: var(--color-text-grey-2);
}

.footer__copy {
    margin-top: 33px;
    cursor: pointer;
}
.footer__copy-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.75;
}
.copy{
    transition: var(--transition)
}
.copy:hover{
    color: var(--color-text-grey-2);
}