@import "header.css";
@import "fonts.css";
@import "block.css";
@import "burger.css";
@import "reset.css";
@import "hero.css";
@import "about.css";
@import "service.css";
@import "quality.css";
@import "start.css";
@import "testimonial.css";
@import "pricing.css";
@import "partners.css";
@import "footer.css";
@import "media.css";

:root {
    --linear-color: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    --main-color-purple: #ca6aeb;
    --color-text-grey-1: #b0b0b2;
    --color-text-grey-2: #d1d1d1;
    --general-white: #fff;
    --transition: all 0.4s ease 0s;
}

.body {
    font-family: "Chakra Petch", sans-serif;
    line-height: 1.75;
    color: var(--general-white);
    background: #18181b;
    font-size: 16px;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.body--opened-menu {
    overflow: hidden;
}
.header {
    margin-bottom: 20px;
}
/* ================== */

.articles {
}
.container {
}
.articles__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.articles__top-info {
}

.articles__button{
    max-width: 140px;
    height: 50px;
}
.articles__top-title {
   
}

.articles__top-subtitle {
    margin-bottom: 72px;
}

.sliders__text {
    position: absolute;
    top: 15rem;
    left: 28px;
    z-index: 10;
}
.sliders__text span{
    cursor: pointer;
    font-size: 32px;
    font-weight: 600;
    max-width: 509px;
    color: var(--color-text-grey-2);
    transition: var(--transition);
}
.sliders__text:hover span{
    color: var(--general-white);
}
.sliders__title {
    font-size: 28px;
    letter-spacing: -0.01em;
}
.content__text {
  
}

.swiper-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.sliders__swiper {
    max-width: 626px;
    position: relative;

}
.sliders__pagination {
    
    display: flex;
    justify-content: center;
    gap: 12px;
}

.swiper-pagination .swiper-pagination-bullet {
    cursor: pointer;
    height: 3px;
    background: #ffffff4f;
    border-radius: 32px;
    transition: var(--transition);
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--general-white);
}
