.subscribe {
    margin-top: 15rem;
    margin-bottom: 160px;
}

.subscribe__body {
    margin: 0 auto;
    height: 185px;
    background: var(--linear-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}
.subscribe__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    padding: 12px 77px;
}
.subscribe__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 145%;
    cursor: pointer;

}
.subscribe__form {
    max-width: 365px;
    height: 56px;
}
.form {
    border-radius: 2px;
    width: 365px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.07);
    position: relative;
}
.form::after {
    content: url('../img/icon/email.svg');
    position: absolute;
    top: 15px;
    left: 8px;
    width: 24px;
    height: 24px;
    color: var(--general-white);

}

.form__input {
    border: 0;
    height: 100%;
    width: 100%;
    background: #ffffff12;
    color: var(--general-white);
    padding: 0.875rem 3.75rem 0.875rem 2.875rem;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    outline: none;
    
}

.form__input::placeholder {
    color: var(--general-white);
    transition: var(--transition);
}
.form__input:hover::placeholder {
    color: #ffffff6a;
}
.form__input:focus::placeholder {
    color: #ffffff6a;
}
.form__button {
    position: absolute;
    top: 4px;
    right: 4px;
    background: transparent;
    padding: 16px;
    width: 49px;
    height: 49px;
    background: rgba(255, 255, 255, 0.21);
}
.form__button svg{
    transition: var(--transition);
}
.form__button:hover svg{
    transform: scale(1.2);
}
